:root {
    --dark-background: #474E68;
    --dark-background-font: #e5e1e1;
}

body {
    /* background-color: #F5F5F5; */
    background-color: var(--dark-background-font);
    color: #1f1f29;
    font-family: sans-serif;
}

.dark {
    background-color: var(--dark-background);
    color: var(--dark-background-font);
}

#search-history ul{
    list-style-type: none;
    padding: 0;

}

#search-history li {
    border: 1px solid var(--dark-background-font);
    border-radius: 5px;
    padding: .5rem;
}

#search-history li button {
    float: right;
    border: none;
    background-color: var(--dark-background);
    color: var(--dark-background-font);
    transition: .2s;
}

#search-history li button:hover {
    color: #F05454;
    transition: .2s;
}